.text-primary {
  color:var(--clr-text-primary);
}

.text-secondary {
  color:var(--clr-text-secondary);
}

.text-light {
  color:var(--clr-text-light);
}

.text-gray {
  color:var(--clr-text-gray);
}

.primary-bg {
  background-color:var(--clr-primary-bg);
}

.secondary-bg {
  background-color:var(--clr-secondary-bg);
}