:root {
  /* spacings */
  --wrapper-container-padding:1rem 2rem;
  --primary-btn-padding:0.8rem 2.8rem;

  /* widths */
  --wrapper-container-maxwidth:110rem;
  --header-searchbar-width:35rem;

  /* typography */
  --ff-Poppins: "Poppins", sans-serif;

  /* colors */
  --clr-body-bg:hsl(270, 29%, 95%),hsl(270, 6%, 81%);
  --clr-white:hsl(0,100%,100%);
  --clr-text-primary:hsl(0, 0%, 15%);
  --clr-text-secondary:hsl(240, 5%, 81%);  

  --clr-header-searchbar-bg:hsl(240, 17%, 94%);

  --clr-bg-primarybtn:hsl(241, 70%, 60%);
  --clr-primarybtn:hsl(250, 72%, 93%);
}

