.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.sticky {
  position: sticky
}

.-z-10 {
  z-index: -10
}

.z-30 {
  z-index: 30
}

.z-50 {
  z-index: 50
}

.me-auto {
  margin-inline-end: auto
}

.ms-auto {
  margin-inline-start: auto
}

.mt-4 {
  margin-top: 1rem
}

.inline {
  display: inline
}

.flex {
  display: flex
}

.grid {
  display: grid
}

.w-full {
  width: 100%
}

.min-w-fit {
  min-width: -moz-fit-content;
  min-width: fit-content
}

.shrink-0 {
  flex-shrink: 0
}

.cursor-pointer {
  cursor: pointer
}

.flex-col {
  flex-direction: column
}

.flex-wrap {
  flex-wrap: wrap
}

.items-start {
  align-items: flex-start
}

.items-center {
  align-items: center
}

.justify-between {
  justify-content: space-between
}

.gap-10 {
  gap: 2.5rem
}

.gap-12 {
  gap: 3rem
}

.gap-3 {
  gap: 0.75rem
}

.gap-4 {
  gap: 1rem
}

.gap-5 {
  gap: 1.25rem
}

.gap-6 {
  gap: 1.5rem
}

.gap-7 {
  gap: 1.75rem
}

.overflow-hidden {
  overflow: hidden
}

.rounded-full {
  border-radius: 9999px
}

.bg-cover {
  background-size: cover
}

.bg-center {
  background-position: center
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover
}

.pb-5 {
  padding-bottom: 1.25rem
}

.text-center {
  text-align: center
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.font-bold {
  font-weight: 700
}

.font-medium {
  font-weight: 500
}

.font-semibold {
  font-weight: 600
}

.uppercase {
  text-transform: uppercase
}

.capitalize {
  text-transform: capitalize
}