.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.me-auto {
  margin-inline-end: auto
}

.ms-auto {
  margin-inline-start: auto
}

.flex {
  display: flex
}

.grid {
  display: grid
}

.w-full {
  width: 100%
}

.shrink-0 {
  flex-shrink: 0
}

.cursor-pointer {
  cursor: pointer
}

.flex-wrap {
  flex-wrap: wrap
}

.items-center {
  align-items: center
}

.justify-between {
  justify-content: space-between
}

.gap-10 {
  gap: 2.5rem
}

.gap-6 {
  gap: 1.5rem
}

.gap-7 {
  gap: 1.75rem
}

.gap-5 {
  gap: 1.25rem
}

.gap-8 {
  gap: 2rem
}

.gap-9 {
  gap: 2.25rem
}

.gap-12 {
  gap: 3rem
}

.overflow-hidden {
  overflow: hidden
}

.rounded-full {
  border-radius: 9999px
}

.ps-3 {
  padding-inline-start: 0.75rem
}

.ps-5 {
  padding-inline-start: 1.25rem
}

.ps-4 {
  padding-inline-start: 1rem
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.font-bold {
  font-weight: 700
}

.font-medium {
  font-weight: 500
}

.font-semibold {
  font-weight: 600
}