*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  content: "";
  position: absolute;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

button,
a,
span,
input {
  display: block;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

button,
input {
  background: none;
  border: none;
  outline: none;
}

form,
input,
button,
select,
option,
textarea {
  font: inherit;
}

:focus-visible {
  outline: 2px solid black;
  outline-offset: 0.3rem;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
  scrollbar-width: thin;
  font-size: 62.5%;
}

body {
  background: linear-gradient(var(--clr-body-bg));
  min-height: 100vh;
  min-height: 100dvh;
  font-size: 1.4rem;
  font-family: var(--ff-Poppins);
}

